<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baicuoiky"
        tools:targetApi="31">
        <activity
            android:name=".activity_dangky"
            android:exported="false" />
        <activity
            android:name=".activity_denmang"
            android:exported="false" />
        <activity
            android:name=".activity_kong"
            android:exported="false" />
        <activity
            android:name=".activity"
            android:exported="false" />
        <activity
            android:name=".activity_kungfu"
            android:exported="false" />
        <activity
            android:name=".activity_phimmai"
            android:exported="false" />
        <activity
            android:name=".activity_dangxuat"
            android:exported="false" />
        <activity
            android:name=".activity_doimk"
            android:exported="false" />
        <activity
            android:name=".activity_quenmk"
            android:exported="false" />
        <activity
            android:name=".activity_hoadon"
            android:exported="false" />
        <activity
            android:name=".activity_thanhtoan"
            android:exported="false" />
        <activity
            android:name=".activity_datve"
            android:exported="false" />
        <activity
            android:name=".activity_chitietphim"
            android:exported="false" />
        <activity
            android:name=".activity_timkiem"
            android:exported="false" />
        <activity
            android:name=".activity_taikhoan"
            android:exported="false" />
        <activity
            android:name=".activity_lichsu"
            android:exported="false" />
        <activity
            android:name=".activity_phim"
            android:exported="false" />
        <activity
            android:name=".activity_theloai"
            android:exported="false" />
        <activity
            android:name=".activity_trangchu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>