<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baicuoiky"
        tools:targetApi="31">
        <activity
            android:name=".activity_datve"
            android:exported="false" />
        <activity
            android:name=".activity_P_HD_kong"
            android:exported="false" />
        <activity
            android:name=".activity_P_HH_kungfu"
            android:exported="false" />
        <activity
            android:name=".activity_P_KD_denmang"
            android:exported="false" />
        <activity
            android:name=".activity_P_TC_mai"
            android:exported="false" />
        <activity
            android:name=".activity_P_TC_hacanhnoianh"
            android:exported="false" />
        <activity
            android:name=".activity_P_TC_henho"
            android:exported="false" />
        <activity
            android:name=".activity_P_TC_titanic"
            android:exported="false" />
        <activity
            android:name=".activity_P_HD_linhbantia"
            android:exported="false" />
        <activity
            android:name=".activity_P_HD_nhiemvubatkhathi"
            android:exported="false" />
        <activity
            android:name=".activity_P_HD_fast"
            android:exported="false" />
        <activity
            android:name=".activity_P_HH_minion"
            android:exported="false" />
        <activity
            android:name=".activity_P_HH_khachsanhuyenbi"
            android:exported="false" />
        <activity
            android:name=".activity_P_HH_conan"
            android:exported="false" />
        <activity
            android:name=".activity_P_KD_quycai"
            android:exported="false" />
        <activity
            android:name=".activity_P_KD_diembao"
            android:exported="false" />
        <activity
            android:name=".activity_P_KD_trochoichetchoc"
            android:exported="false" />
        <activity
            android:name=".activity_TL_kinhdi"
            android:exported="false" />
        <activity
            android:name=".activity_TL_hanhdong"
            android:exported="false" />
        <activity
            android:name=".activity_TL_hoathinh"
            android:exported="false" />
        <activity
            android:name=".activity_TL_tinhcam"
            android:exported="false" />
        <activity
            android:name=".activity_dangky"
            android:exported="false" />
        <activity
            android:name=".activity_doimk"
            android:exported="false" />
        <activity
            android:name=".activity_quenmk"
            android:exported="false" />
        <activity
            android:name=".activity_hoadon"
            android:exported="false" />

        <activity
            android:name=".activity_taikhoan"
            android:exported="false" />
        <activity
            android:name=".activity_phim"
            android:exported="false" />
        <activity
            android:name=".activity_theloai"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>